<div class="layout"></div>
<div class="profile-card">
<h1 id="edit-header"><strong>Edit <%= resource_name.to_s.humanize %></strong></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <strong><%= f.input :email, required: true, autofocus: true %></strong>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <strong><%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %></strong>
    <strong><%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %></strong>
    <strong><%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %></strong>
    <strong><%= f.input :description,
                hint: "add a description",
                required: true,
                input_html: { autocomplete: "description" } %></strong>
    <strong><%= f.input :styles,
                hint: "tell us your style of music",
                required: true,
                input_html: { autocomplete: "styles" } %></strong>
    <strong><%= f.input :photo, as: :file %></strong>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
</div>
<h3><strong>Cancel my account</strong></h3>

<p>Unhappy?</p>
<div class="buttons">
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
</div>

