<h3>Name: <%= current_user.name %></h3>
<p>Age: <%= current_user.age %></p>
<p>Description: <%= current_user.description %></p>
<p>Email: <%= current_user.email %></p>
<p>Styles: <%= current_user.styles %></p>
<p class="btn btn-primary"><%= link_to "Edit Profile", edit_user_registration_path %></p>