<h1> Manage my reservations </h1>

<% if @reservations.nil? %>
  <p> You did not book any concert hall yet! </p>

<% else %>
  <% @reservations.each do |reservation| %>
    <p> <%=reservation.concert_hall.name%> booked from <%= reservation.start_date.strftime('%d/%m/%Y %H:%M') %> to <%= reservation.end_date.strftime('%d/%m/%Y %H:%M') %>
    <%= link_to "Delete this reservation", reservation_path(reservation), method: :delete, class: "btn btn-secondary" %></p>
  <% end %>
<% end  %>

<p>
<p>
<%= link_to "Go back to #{@concert_hall.name}", concert_hall_path(@concert_hall) %>
<p>
<p>
<%= link_to "Book another concert hall", root_path %>
