<h1><%= @concert_hall.name %></h1>
<% unless @concert_hall.photos.empty? %>
  <% @concert_hall.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% else %>
  <%= cl_image_tag "zh2eulzaxjopd9eeuibj", height: 300, width: 400, crop: :fill %>
<% end %>

<p>Location: <%= @concert_hall.location %></p>
<p>Capacity: <%= @concert_hall.capacity %></p>
<p>Style(s): <%= @concert_hall.styles %></p>
<p>Price: <%= @concert_hall.price %></p>

<% if current_user != @concert_hall.user %>
	<p><%= link_to "Create a Reservation", new_concert_hall_reservation_path(@concert_hall) %>
<% end %>
</p>

<% if policy(@concert_hall).show? %>
  <p><%= link_to "See Your Reservation(s)", concert_hall_reservations_path(@concert_hall) %></p>
<% end %>

<% if policy(@concert_hall).destroy? %>
  <p><%= link_to "Delete your Reservation", concert_hall_reservations_path(@concert_hall) %></p>
<% end %>

<% if policy(@concert_hall).edit? %>
  <p><%= link_to "Update this Concert Hall", edit_concert_hall_path(@concert_hall) %></p>
<% end %>

<% if policy(@concert_hall).destroy? %>
  <p><%= link_to "Remove this Concert Hall", concert_hall_path(@concert_hall), method: :delete, data: { confirm: "Are you sure?" } %></p>

<% end %>

<%= link_to "Back to all Concert Halls", concert_halls_path %>
