<div class="title-ch">
  <h1><%= @concert_hall.name %></h1>
</div>
<div class="center-card">
  <% unless @concert_hall.photos.empty? %>
    <% @concert_hall.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% else %>
    <%= cl_image_tag "zh2eulzaxjopd9eeuibj", height: 300, width: 400, crop: :fill %>
  <% end %>
</div>


<div class="feature-ch">
  <p> A lovely concert hall in <strong><%= @concert_hall.location%></strong> where you can play <strong><%= @concert_hall.styles %> </strong>for <%= @concert_hall.price %> R$ a day.</p>
  This concert hall can host <strong><%= @concert_hall.capacity %></strong> people.
<div class="feature-ch">

<div class="options-ch">
  <% if current_user != @concert_hall.user %>
    <%= link_to "Create a Reservation", new_concert_hall_reservation_path(@concert_hall), class: "btn btn-secondary" %>
  <% end %>
  <% if policy(@concert_hall).edit? %>
    <%= link_to "Update this Concert Hall", edit_concert_hall_path(@concert_hall), class: "btn btn-secondary" %>
  <% end %>
  <% if policy(@concert_hall).destroy? %>
    <%= link_to "Remove this Concert Hall", concert_hall_path(@concert_hall), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
    <%= link_to "Back to Concert Halls", users_concert_halls_path(current_user.id), class: "btn btn-secondary" %>
</div>
